@import 'partials/cardVariables';
@import 'partials/cardGridLibrary';

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
}

//styles to draw a basic outline of a card
.card {
    border: 1px solid grey;
    height: $card-height;
    width: $card-width;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 2px 2px 4px grey;
}

//set icon size
.icon {
    width: $icon-size;
    height: $icon-size;
}

// size and layout of number and icon corners
.number {
    text-align: center;
    font-size: $font-size-number;

    //an icon that is part of a number should be half the normal size
    &>.icon {
        width: $icon-size *.5;
        height: $icon-size *.5;
    }
}

//rotate bottom pips 180deg
.rotate {
    transform: rotate(180deg);
}

//set icon size
.icon {
    width: $icon-size;
    height: $icon-size;
}

.row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.cell {
    flex: 1;
    text-align: center;
    
}
div.row {
    padding: 0;
    margin: 0;
}

.offset-#{1} {
    @include offset(1)
}

.offset-#{2} {
    @include offset(2)
}

.offset-#{0} {
    @include offset(0)
}

.col-#{1} {
    @include col(1);
}

.col-#{2} {
    @include col(2);
}

.col-#{8} {
    @include col(8);
}

@supports (display: grid) {

    //grid creation .row is container
    .row {
        display: grid;
        grid-template-columns: repeat(8, 12.5%);
        grid-template-rows: repeat(4, 25%);
        margin: 0;
        padding: 0;
        height: 100%;
        justify-items: center;
       
    }

    // top row
    .cell.top {
        grid-row: $top-row;
        align-self: start;

        &.number {
            grid-column: 1/1;
        }

        &.one {
            grid-column: 2/4;
        }

        &.two {
            grid-column: 6/8;
        }

        //stand alone middle
    }

    .cell.three {
        grid-column: 4/6;
        grid-row: $secd-row;
        align-self: center;
    }

    // bottom middle
    .cell.middle {
        grid-row: $third-row;
        align-self: center;

        &.four {
            grid-column: 2/4;
        }

        &.five {
            grid-column: 6/8;
        }
    }

    // bottom row
    .cell.bottom {
        grid-row: $bottom-row;
        align-self: end;

        &.six {
            grid-column: 2/4;
        }

        &.seven {
            grid-column: 6/8;
        }

        &.rotate.number {
            grid-column: 8;
        }
    }

    
    }