// color palette - these colors will be the color swatches of the Colors section
//Holiday blue and khaki
$color-1: #55745B; // Axolotl
$color-2: #C3AF8E; // Sage
$color-3: #A89476; // light taupe
$color-4: #353F72; // Americain blue
$color-5: #4e6190; // UCLA blue- Action color
//extra color
$color-6: #853042; // solid pink
$white: #ffffff;

//https://www.schemecolor.com/

// additional colors

$success: #6fce72; // green
$alert: #e4655f; // red

$backgroundImage: url(/zenGarden/src/images/layered-waves-haikei.svg);